body{
    width: 100vw;
    margin:0;
    overflow-x:hidden;
    font-family: sans-serif;
    font-size: 12px;
}



.margins{
    padding-left: 6vw;
    padding-right: 6vw;
}



.head{
    background-color: #f1a536;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.head>img{
    margin-top: 1vw;
    height: 7vw;
}

.links{
    display: flex;
    justify-items: space-between;
    flex-wrap: wrap;
    gap: 1em;
}
.head>.links>a{
    font-size: 1.2em;
}
.links>a{
    text-decoration: none;
    color: #000;
}
.links>a:hover{
    text-decoration: underline;
    color:#444;
}
.links>a:active{
    text-decoration: underline;
    color:#444;
}



.hero{
    position: relative;
    height: calc(40vh);
    height: max(50vh, 200px);
    background-image: url("../images/hero-image.jpg");
    background-size: cover;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero>h1{
    background-color: #fff;
    padding: 10px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;


    font-size: 2em;
    text-align: center;
}







.content:nth-child(even){
    background-color: #dadfea;
}
.content{
    padding-top: 2vw;
    padding-bottom: 4vw;
}
.content>h2{
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content>p{
    font-size: 1.4em;
    line-height: 1.4em;
}



.image-row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap:30px;

    width: 100%;
    margin-top: 3vw;
    margin-bottom: 2vw;
    /* height:250px; */
}

.image-row>.image-div{
    width:25%;
    flex-grow: 1;
}
.image-row>.image-div>img{
    width:100%;
    height: calc(100% - 2em - 12px);
    object-fit: cover;
}
/* the highs of the .image-div breaks if the caption has to wrap */
.image-row>.image-div>p{
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    margin-top: -4px;

    background-color: #fff;
    border: 1px dashed #000;
    text-align: center;
    font-size: 1em;
}














.foot{
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: #f1a536;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.foot>p{
    flex-grow: 1;
    text-align: left;
    font-size: 1.3em;
}

.foot a{
    font-size: 1em;
}